.form-container {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em 4em 3em;

    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.form-container img {
    height: auto;
    width: 262px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form-container form label {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.form-container form input {
    background-color: var(--cinza-primario);
    padding: 0.5em 1em;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.10);;
    width: 250px;
    font-size: 14px;
}

.form-container form button {
    font-size: 20px;
    color: var(--branco);
    font-weight: 600;
    padding: 0.8em 4em;
    margin: 20px 0 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.form-container form button:hover {
    transform: scale(1.1);

}

.login {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 500;
    padding: 0.7em 3.5em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.login:hover {
    transform: scale(1.1);
}